@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

body{
  margin:0;
  padding:0;
}
img{
  max-width:100%;  
}
.clear{
  clear:both;
}
.grid-container{
  display:grid;
  grid-template-columns: 1.1fr 0.9fr;
}
.grid-item{
  max-width:50vw;
}

#welcome{
  background-image:url(assets/neptun-in-gdansk-poland-82-big_bw.png);
  background-color:#2F545A;
  height:100vh;
}

/* navbars */

#desktoplogo{
  float:left;
  height:100px;
  width:100px;
  padding-top:40px;
  padding-left:175px;
  z-index:9;
}

hr#desktopnavhr{
  position:absolute;
  width:98.5vw;
  color:#DCC4BA;
  opacity:0.2;
  margin-top:35px;
  z-index:1;
}

nav#desktopnav{
  position:relative;
  display:inline;
  margin:0 auto;
}

nav#desktopnav > ol{
  position:relative;
  padding-top:40px;
  margin:0;
  text-align:center;
}

nav#desktopnav > ol > li{
  display:inline;
  font-family: 'Roboto Medium', sans-serif;
  font-size:14px;
  font-weight:500;
  letter-spacing: 1px;
  margin-left:2vw;
  list-style-type: none;
}

nav#desktopnav > ol > li a{
  text-decoration: none;
  color:#DCC4BA;
  opacity:0.6;
  padding-bottom:41px;
}

nav#desktopnav > ol > li a:hover{
  color:#DCC4BA;
  opacity:1;
  border-bottom:3px solid #DCC4BA;
}

nav#desktopnav > ol > li a:active{
  color:#DCC4BA;
  opacity:1;
  border-bottom:3px solid #DCC4BA;
}

li#rezerwuj{
  display:inline;
  font-size:12px!important;
  padding:14px 20px;
  border:1px solid rgba(220, 196, 186, 0.2);
  border-radius: 4px;
  margin-left:9vw!important;
}
li#rezerwuj > a{
    color:#DCC4BA;
    text-decoration: none;
    opacity:1!important;
}
li#rezerwuj img{
  vertical-align: sub;
}

li#flag{
  display:inline!important;
  max-width: 50px;
  padding:14px 10px;
  border:1px solid rgba(220, 196, 186, 0.2);
  border-radius: 4px;
}

li#flag > a{
  margin:0;
  padding:0;
  border-bottom:none!important;
}

li#flag img{
  vertical-align:middle;
  margin:0;
  padding:0;
}

/* welcome content */

h1, h2{
  font-family:'Playfair Display', serif;
  font-size:65px;
  color:#ffffff;
}

h4, h5{
  font-family: 'Roboto Medium', sans-serif;
  font-weight:500;
  font-size:14px;
  color:#DCC4BA;
}

#welcome-content{
  width:67%;
  height:45%;
  margin:0 auto;
}
#header5, #header1{
  text-align:center;
  width:63%;
  margin:0 auto;
}
#header5{
  padding-top:6vh;
  opacity:0.2;
}
#searchbox{
  border:3px solid rgba(220, 196, 186, 0.2);
}
#searchbox h5{
  text-align:center;
  color: white!important;
  letter-spacing: 1px;
}

#searchbar{
  display:flex;
  align-items: center;
  height:95px;
  background-color:#fff;
  margin:26px 65px 45px 65px;
  border-radius:5px;
}
#searchbar h4{
  font-size:16px;
  color:#000000;
  opacity:1;
  display:inline;
  padding-left: 2vw;
}
#searchbar img{
  display:inline;
  vertical-align: middle;
  float:right;
  padding-right: 2vw;
}
#dataprzyjazdu{
  display: table-cell;
  flex-grow:1;
  border-right:1px solid #E2E2E2;
}
#datawyjazdu{
  display:table-cell;
  flex-grow:1;
  border-right:1px solid #E2E2E2;
}

#sprawdz{
  display:table-cell;
  white-space: nowrap;
  background-color: #C49C97;
  padding: 39px 0px 38px 0px;
  border-radius: 0px 5px 5px 0px;
}
#sprawdz h4{
  color:#fff;
  font-size:14px;
  letter-spacing: 1px;
  justify-content: center;
}
#sprawdz img{
  vertical-align: middle;
  padding-left:1vw;
}

#scrolldown{
  margin-left:-5vw;
  writing-mode: vertical-rl;
 text-orientation: sideways;
 font-size:10px;
 color:#DCC4BA;
 font-weight:200;
 font-family: 'Roboto Medium', sans-serif;
 transform: rotate(-180deg);
}

#scrolldown img{
  padding-top:3px;
  padding-right:3px;
  vertical-align: bottom;
}

/* section 2 */

#poznajmysie{
}

.left{
  padding:20vh 6vw 0 9vw;
}
h2, h5 .left {color:#2F545A;letter-spacing: 1px;}

.left p{
  font-family: 'Roboto Medium', sans-serif;
  line-height: 39px;
  padding-left:5vw;
  padding-right:2vw;
  color:#0E1112;
  font-size:16px;
  letter-spacing: 1px;
}

.right img{
  margin-left:-2.5vw;
}

/* media queries */

@media screen and (max-width:980px){
  nav#desktopnav{display:none;}
}
@media screen and (min-width:981px){
  nav#mobilenav{display:none;}
  #welcome-content{margin-top:2%;}
  h1{font-size:47px;}
  .left h2{font-size:36px;}
  li#rezerwuj{margin-left: 5vw!important}
  #scrolldown{margin-top:-10vh;}
  .right{margin-top:-10vh;}
}
@media screen and (min-width:1369px){
  li#rezerwuj{margin-left: 9vw!important}
  #welcome-content{margin-top:8%;}
  #scrolldown{margin-top:6vh;}
  .left h2{font-size:55px;}
  .right{margin-top:-13vh;}
  
}
